/* =========================
   ПЕРЕМЕННЫЕ CSS
========================= */
:root {
    --header-logo-color: #696969;
    --header-text-color: #838181;
    --header-text-hover-color: #202020;
    --header-color: #ffffff;
    --header-hover-color: #2E9AFF;
    --header-active-color: #FF5959;
}

/* =========================
   БАЗОВЫЕ НАСТРОЙКИ
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* =========================
   СТИЛИ HEADER (Шапки)
========================= */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
}

/* --- Логотип и навигация слева --- */
header .logo-menu {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
}

/* --- Логотип --- */
header .logo {
    padding: 10px 0 15px 20px;
}

header .logo a {
    font-size: 40px;
    font-weight: 700;
    color: var(--header-logo-color);
    transition: color 0.4s ease;
    margin-right: 40px;
}

header .logo a:hover {
    color: var(--header-hover-color);
}

/* --- Навигация (десктоп) --- */
header .menu {
    display: flex;
    flex-direction: row;
    margin-top: 0;

}

header .menu-block {
    flex-direction: column;
}

header .menu-block .menu-hover {
    height: 10px;
    margin-bottom: 25px;
    background-color: var(--header-color);

    opacity: 0;
    transform: translateY(-10px);
    transition: 
        background-color 0.4s ease,
        transform 0.4s ease,
        opacity 0.4s ease;
}

header .menu-block:hover .menu-hover {
    background-color: var(--header-active-color);
    opacity: 1;
    transform: translateY(0);
}

header .menu .menu-block a {
    color: var(--header-text-color);
    font-size: 16px;
    padding: 0 20px;
    opacity: 1;
}

header .menu-block.active .menu-hover {
    background-color: var(--header-hover-color);
    opacity: 1;
    transform: translateY(0);
    transition: none;
}

header .menu .menu-block a:hover {
    color: var(--header-text-hover-color);
}

/* --- Кнопка меню (мобилка) --- */
header .menu-mobile-btn {
    display: none;
}

/* =========================
   ОСТАЛЬНОЕ
========================= */

/* --- Линия под хедером --- */
.head-line {
    background-color: #dad8d8;
    height: 1px;
}

/* =========================
   АДАПТИВ (мобильная версия)
========================= */
@media screen and (max-width: 1050px) {
    header {
        justify-content: space-between;
    }
    header .logo a{
        margin-right: 5px;
    }
    header .menu-mobile-btn {
        display: block;
        margin-right: 20px;
    }
    header .menu-mobile-btn img{
        height: 40px;
        width: 40px;
    }

    header .menu {
        display: none;
    }
    header .menu.active {
        display: block;
        position: absolute;
        top: 81px;
        width: 100%;
        background-color: var(--header-color);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        z-index: 10; 
    }

    header .menu .menu-hover {
        display: none;
    }

    header .menu-block.active {
        background-color: var(--header-active-color);
    }

    header .menu-block.active a{
        color: var(--header-color);
    }

    header .menu .menu-block {
        padding: 15px 5px;
    }
}
