
/*графический калькулятор*/
:root {
    --blue: #2E9AFF;
    --light-pink: #f3ccd5;
}

.content {
    background-image: linear-gradient(var(--blue), var(--light-pink));
	box-sizing: border-box;
	width: 100%;
	height: calc(100vh - 81px);
	order: 2;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


/* =========================
   БЛОК CANVAS
========================= */

.content .canvas {
	width: 75%;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.2);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.content .canvas canvas {
	aspect-ratio: 1 / 1;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Если контейнер выше, чем широк */
@media (max-aspect-ratio: 1/1) {
	.content .canvas canvas {
		width: 92%;
		height: auto;
	}
}

/* Если контейнер шире, чем высокий */
@media (min-aspect-ratio: 1/1) {
	.content .canvas canvas {
		height: 92%;
		width: auto;
	}
}


/* ================================================== */

/* =========================
   БЛОК ПАРАМЕТРЫ
========================= */

.content .parameters {
	width: 25%;
	background-color: rgb(255, 255, 255);

	display: flex;
	flex-direction: column;
	padding: 10px 20px;

	position: relative;
}

/* =========================
   HEADER ПАРАМЕТРЫ
========================= */

.content .parameters .header-param{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;
}

.content .parameters .header-param .select-title{
	width: 90%;
	font-size: 18px;
	font-weight: 700;
	color: #696969;
	padding-right: 15px;
	transition: color 0.4s ease;
}
.content .parameters .header-param .select-title:hover {
    color: #2E9AFF;
}

.content .parameters .header-param .select-btn{
	width: 10%;
	cursor: pointer;
}
.content .parameters .header-param button{
	background-color: white;
	border: 0;
	opacity: 0.8;
}

.content .parameters .header-param button:hover{
	opacity: 1;
}

.content .parameters .header-param .select-btn img{
	width: 100%;
}



/* =========================
   МЕНЮШКА
========================= */

.content .parameters .dropdown-options {
	position: absolute;
	top: 80px;
	left: 20px;
	right: 20px;
  
	background-color: rgb(255, 254, 201);
	border: 1px solid #ccc;
	box-shadow: 0 2px 8px rgba(0,0,0,0.5);
	z-index: 1000;
  
	display: none;
	border-radius: 5px;
	
	
  }

  .content .parameters .dropdown-options .option {
    padding: 10px;
    cursor: pointer;
}

.content .parameters .dropdown-options .option:hover {
    background-color: #f0f0f0;
}

/* =========================
   INPUT BLOCK
========================= */
.content .parameters .input {
	color: #444444;
	font-size: 16px;
	font-weight: 400;
}

.content .parameters .input input{
	width: 100%;
	padding: 10px 5px;
	margin-top: 10px;
}


.content .parameters .input .rend_btn{
	width: 40%;
	padding: 5px;
	margin-top: 20px;
	background-color: #5C5C5C;
	border: 1px solid #5C5C5C;
	border-radius: 5px;
	color: #fff;
	font-weight: 400;
	margin-left: auto; 

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.content .parameters .input .rend_btn:hover{
	background-color: #333333;
	
}
.content .parameters .input .rend_btn img{
	margin-left: 10px;
	width: 20%;
}


/* ================================================== */
.content .parameters .settingparam .btns button{
	display: none;
}

.content .parameters .input .func {
	display: none;
}




/* =========================
   БЛОК ФУНКЦИЙ
========================= */

.content .parameters .btns {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.content .parameters .btns button {
	width: 40%;
	padding: 12px;
	background-color: #797979;
	border: 1px solid #797979;
	border-radius: 5px;
	color: #fff;
	font-weight: 400;
	margin-right: 10px;
}

.content .parameters .btns button:hover {
	background-color: #4d4d4d;
	border: 1px solid #4d4d4d;
}


.content .parameters .func-block {
	background-color: rgb(255, 251, 201);
	border: 1px solid #ccc;
	box-shadow: 0 0px 8px rgba(0,0,0,0.3);
	padding: 20px;
	
	border-radius: 10px;
	margin-top: 40px;
	display: none;
	position: relative;
}



/* =========================
   ВИЗУАЛИЗИРОВАННЫЕ ФУНКЦИИ
========================= */

.content .parameters .func-block .clip{
	position: absolute;
	width: 10%;
	top: -20px;
	right: 10px;   
}
.content .parameters .func-block .clip img{
	width: 100%;
}


.content .parameters .functions {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}
.content .parameters .functions .func_block{
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	margin-bottom: 10px;
	border: 1px aliceblue;
	border-radius: 5px;
	padding: 10px 5px;

	display: flex;
	flex-direction: row;
}

.content .parameters .functions .func_block .color_func{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin-right: 20px;
}
.content .parameters .functions .func_block button {
	background-color: rgb(184, 223, 194);
	border-width: 0;
}
.content .parameters .functions .func_block button img{
	width: 20px;
	height: 20px;
}



/* =========================
   MathQuill
========================= */
.content .parameters #math-field{
	display: block;
}

.content .parameters #latex{
	display: none;
}

.content .parameters #func{
	display: none;
}