
/*графический калькулятор*/
:root {
    --blue: #2E9AFF;
    --light-pink: #f3ccd5;
}

.content {
    background-image: linear-gradient(var(--blue), var(--light-pink));
	box-sizing: border-box;
	width: 100%;
	height: calc(100vh - 81px);
	order: 2;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


/* =========================
   БЛОК CANVAS
========================= */

.content .canvas {
	width: 75%;
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}

.content .canvas canvas {
	aspect-ratio: 1 / 1;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* Если контейнер выше, чем широк */
@media (max-aspect-ratio: 1/1) {
	.content .canvas canvas {
		width: 92%;
		height: auto;
	}
}

/* Если контейнер шире, чем высокий */
@media (min-aspect-ratio: 1/1) {
	.content .canvas canvas {
		height: 92%;
		width: auto;
	}
}


/* ================================================== */

/* =========================
   БЛОК ПАРАМЕТРЫ
========================= */

.content .parameters {
	width: 25%;
	background-color: rgb(255, 255, 255);

	display: flex;
	flex-direction: column;
	padding: 10px 20px;
}

/* =========================
   HEADER ПАРАМЕТРЫ
========================= */

.content .parameters .header-param{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
}

.content .parameters .header-param .select-title{
	width: 85%;
	font-size: 20px;
	font-weight: 700;
	color: #696969;
	padding-right: 15px;
}

.content .parameters .header-param .select-btn{
	width: 15%;
}
.content .parameters .header-param button{
	background-color: white;
	border: 0;
	opacity: 0.8;
}

.content .parameters .header-param button:hover{
	opacity: 1;
}

.content .parameters .header-param .select-btn img{
	width: 100%;
}

/* ================================================== */
.content .parameters .settingparam .btns {
	display: none;
}

.content .parameters .input .func {
	display: none;
}






/* =========================
   ВИЗУАЛИЗИРОВАННЫЕ ФУНКЦИИ
========================= */

.content .parameters .functions {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}
.content .parameters .functions .func_block{
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	margin-bottom: 10px;
	border: 1px aliceblue;
	border-radius: 5px;
	padding: 10px 5px;

	display: flex;
	flex-direction: row;
}

.content .parameters .functions .func_block .color_func{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin-right: 20px;
}
.content .parameters .functions .func_block button {
	background-color: rgb(184, 223, 194);
	border-width: 0;
}
.content .parameters .functions .func_block button img{
	width: 20px;
	height: 20px;
}