:root {
    --blue: #2E9AFF;
    --light-pink: #f3ccd5;
}

.content {
    background-image: linear-gradient(var(--blue), var(--light-pink));
	box-sizing: border-box;
	width: 100%;
	height: calc(100vh - 81px);
    padding: 0 50px;
}

/* =========================
   СПИСОК ТЕМ
========================= */
.content .themes-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px 25%;
}

.content .themes-list .theme-item {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    text-decoration: none;
    color: #696969;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1; /* Квадратный блок */
    transition: transform 0.2s ease;
}

.content .themes-list .theme-item:hover {
    transform: translateY(-4px);
    color:#2E9AFF;
}

.content .themes-list .theme-item img {
    width: 75%;
    height: auto;
    margin-bottom: 10px;
}

.content .themes-list .theme-name {
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 1050px) {
    .content {
        padding: 0 20px;
    }

    .content .themes-list {
        grid-template-columns: 1fr;
        padding: 20px 50px;
    }

    .content .themes-list .theme-item {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
}


/* =========================
   БЛОК ПАРАМЕТРОВ
========================= */

.content .gener_param_block {
    margin: 0 auto;
    padding: 100px 0;
    width: 45%;
    display: flex;
    flex-direction: column;

    font-size: 18px;
	font-weight: 700;
    
}
.content .gener_param_block .title{
    background: repeating-linear-gradient(-60deg, #555 0, #555 1px, transparent 1px, transparent 5px);
    background-color: #2980b9;
    color: #fff;
    text-align:center;
    padding: 20px 0;
    font-size: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.content .gener_param_block form{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align:center;
    color: #666666;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
.content .gener_param_block .auth-href a{
    color: #FF5959;
}

.content .gener_param_block .auth-href a:hover{
    color: #ca1818;
}


.content .gener_param_block form h3{
    padding-bottom: 15px;
    color: #3498db;
}

.content .gener_param_block form .gener, .save{
    width: 50%;
}
.content .gener_param_block .custom-select {
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 5px;
    width: 70%;
}


.content .gener_param_block .button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px 0 30px 0;
    width: 70%;
}
.content .gener_param_block .button input{
    border: none;

}

.content .gener_param_block .button:hover {
    background-color: #2980b9;
}

@media (max-width: 1050px) {
    .content .gener_param_block form{
    flex-direction: column;
    }

    .content .gener_param_block {
    width: 90%;
    padding-top: 20px;
    }

    .content .gener_param_block form .gener, .save{
    width: 100%;
    }

    .content .gener_param_block form  .save{
        margin-top: 20px;
    }
}

/* =========================
   ГЕНЕРАЦИЯ
========================= */


/*Отображение задачи*/
.content .rend_block{
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
}

.content .rend {
    width: 450px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-right: 40px;
    border-radius: 20px;
}
.content .rend h3{
    color: #3498db;
}

.content .rend .task-block {
    background: #fff;
    padding: 20px;
}

.content .rend .title{
    background: repeating-linear-gradient(-60deg, #555 0, #555 1px, transparent 1px, transparent 5px);
    color: #fff;
    text-align:center;
    padding: 20px 0 5px 0;
    font-size: 20px;
}

.content .rend button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    width: 70%;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px 100px 15px 0px;
    border: white;
    font-size: 18px;
}


.content .canvas canvas {
	border: 3px solid antiquewhite;
	background-color: antiquewhite;
	border-radius: 5px;
}


.content .canvas {
    width: 800px;
    height:800px;
}