{% extends 'base.html' %}
{% block title %}
MathHelper - Графический калькулятор
{% endblock %}

{% block myhead %}
<script type="text/javascript" 
src="{{ url_for('static', filename='js/calculate/calculate.js') }}"></script>
<script type="text/javascript" 
src="{{ url_for('static', filename='js/calculate/dropdownMenu.js') }}"></script>
<script type="text/javascript" 
src="{{ url_for('static', filename='js/calculate/hideParamPanel.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/calculate.css') }}">



<!-- Подключаем стиль MathQuill -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.min.css"/>

<!-- Подключаем jQuery с Google CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- Подключаем сам MathQuill -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.min.js"></script>


<script type="text/javascript" 
src="{{ url_for('static', filename='js/calculate/mathQuill.js') }}"></script>
{% endblock %}

{% block body %}
<div class="content">

<div class="canvas">
    <canvas id="canvas">
        Ваш браузер не поддерживает Canvas
    </canvas>

    <button class="hide-param-btn">
        <img src="static/img/calculate/hideParamBtn.png" alt="hide parameters panel button">
    </button>
</div>



    
<div class="parameters">
    <div class="header-param">
        <div class="select-title">
            Нажмите на плюс, чтобы добавить новый график
        </div>

        <button class="select-btn">
            <img src="static/img/calculate/addBtn.png" alt="add button">
        </button>
    </div>

    <div class="dropdown-options" id="dropdown-options">
        <div class="option" data-value="simple">Функция от одной переменной</div>
        <div class="option" data-value="param">Параметрическая функция</div>
        <div class="option" data-value="centre_circle">Окружность по центру и радиусу</div>
        <div class="option" data-value="centre_ellips">Эллипс по центру и полуосям</div>
        <div class="option" data-value="focus_ellips">Эллипс по двум фокусам и точке на нём</div>
    </div>
    

    <div class="input">
        <div class="func" id="f1">
            <div class="input_func">
                введите функцию от x:<br>
                <span id="math-field"></span>
                <span id="latex"></span>
                <span id="func"></span>
            </div>
            <button id = 'btn' class="rend_btn">
                <div>ОТОБРАЗИТЬ</div>
                <img src="static/img/calculate/pencil.png">
            </button>
        </div>

        <div class="func" id="f2" >
            <div class="input_func">
                Введите параметрическую функцию от t:<br>
                <div class="func-param-field">
                    <div class="text-func-field">
                        <span style="white-space: nowrap;">x(t) =  </span>
                    </div>
                    <span id="func1-field" tabindex="0"></span>
                    <span id="func1-latex"></span>
                    <span id="func1"></span>
                </div>
                <div class="func-param-field">
                    <div class="text-func-field">
                        <span style="white-space: nowrap;">y(t) =  </span>
                    </div>
                    <span id="func2-field"></span>
                    <span id="func2-latex"></span>
                    <span id="func2"></span>
                </div>
                
                <div class="input-param-field">
                    <input type="number" id="min_t" value="0" step="any">
                        ⩽ t ⩽
                    <input type="number" id="max_t" value="10" step="any">
                </div>
            </div>

            <button id = 'param_btn' class="rend_btn">
                <div>ОТОБРАЗИТЬ</div>
                <img src="static/img/calculate/pencil.png">
            </button>
        </div>


        <div class="func" id="f3">
            <div class="input_func">

                <p>Введите радиус окружности:</p>
                <div class="input-circle-ellips-field">
                    <div class="circle-ellips-text">
                        R = 
                    </div>
                    <input type = "number" min="0.01" id = "radius" value = "5">
                </div>

                <p>Введите координаты центра:</p>
                <div class="input-circle-ellips-field">
                    <div class="circle-ellips-text">
                        x = 
                    </div>
                    <input type = "number" id = "x_centre" value = "0">
                </div>

                <div class="input-circle-ellips-field">
                    <div class="circle-ellips-text">
                        y = 
                    </div>
                    <input type = "number" id = "y_centre" value = "0">
                </div>
  
            </div>

            <button id = 'circle_centre_btn' class="rend_btn">
                <div>ОТОБРАЗИТЬ</div>
                <img src="static/img/calculate/pencil.png">
            </button>
        </div>


        <div class="func" id="f4">
            <div class="input_func ellips_centre">

                <p>Введите длины полуосей эллипса:</p>
                <div class="input-circle-ellips-field">
                    <div class="circle-ellips-text">
                        a = 
                    </div>
                    <input type = "number" id = "ellips_a" value = "2">

                    <div class="circle-ellips-text">
                        b = 
                    </div>
                    <input type = "number" id = "ellips_b" value = "3">
                </div>
                
                <p>Введите координаты центра эллипса:</p>
                <div class="input-circle-ellips-field">
                    <div class="circle-ellips-text">
                        x = 
                    </div>
                    <input type = "number" id = "x_centre_ellips" value = "0">

                    <div class="circle-ellips-text">
                        y = 
                    </div>
                    <input type = "number" id = "y_centre_ellips" value = "0">
                </div>
            </div>
            <button id = 'ellipse_centre_btn' class="rend_btn">
                <div>ОТОБРАЗИТЬ</div>
                <img src="static/img/calculate/pencil.png">
            </button>
        </div>

        <div class="func" id="f5">
            <div class="input_func">
                <p>Введите координаты точки на эллисе:</p>
                <div class="input-circle-ellips-field">
                    <div class="circle-ellips-text">
                        x = 
                    </div>
                    <input type = "number" id = "x_ellips" value = "0">

                    <div class="circle-ellips-text">
                        y = 
                    </div>
                    <input type = "number" id = "y_ellips" value = "3">
                </div>

                <p>Координаты 1 фокуса эллипса (f1):</p>
                <div class="input-circle-ellips-field">
                    <div class="circle-ellips-text">
                        x = 
                    </div>
                    <input type = "number" id = "x_f1" value = "-4">

                    <div class="circle-ellips-text">
                        y = 
                    </div>
                    <input type = "number" id = "y_f1" value = "0">
                </div>

                <p>Координаты 2 фокуса эллипса (f2):</p>
                <div class="input-circle-ellips-field">
                    <div class="circle-ellips-text">
                        x = 
                    </div>
                    <input type = "number" id = "x_f2" value = "4">

                    <div class="circle-ellips-text">
                        y = 
                    </div>
                    <input type = "number" id = "y_f2" value = "0">
                </div>
            </div>

            <button id = 'ellipse_focus_btn' class="rend_btn">
                <div>ОТОБРАЗИТЬ</div>
                <img src="static/img/calculate/pencil.png">
            </button>
        </div>
    </div>


    <div class="func-block" id="func-block">
        <div class="clip">
            <img src="static/img/calculate/clip.png" alt="clip img">
        </div>
        <div class="functions" id="functions">
        </div>
    
        <div class="btns" id="btns">
            <button id = 'clearbtn'>СТЕРЕТЬ ВСЕ</button>
            <button id = 'savebtn'>СКАЧАТЬ</button>
        </div>
    </div>

</div>

</div>
{% endblock %}