<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/auth/removeInputErrors.js') }}" defer></script>
    <title>Авторизация - MathHelper</title>
</head>
<body>

<div class="content">
    <div class="logo">
        <a href="{{ url_for('index') }}">MathHelper</a>
    </div>
    <form action="/login" method="post" class="">
        <div class="form-title">
            Вход в аккакунт
        </div>
        <div class="input-block">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" value="{{ email }}"
            class="{% if errors and errors.get('email') %}error-input{% endif %}">
            {% if errors and errors.get('email') %}
                <div class="error-msg">{{ errors['email'] }}</div>
            {% endif %}
        </div>
        <div class="input-block">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" value="{{ password }}"
            class="{% if errors and errors.get('password') %}error-input{% endif %}">
            {% if errors and errors.get('password') %}
                <div class="error-msg">{{ errors['password'] }}</div>
            {% endif %}    
        </div>
        
        <input id="submit-btn" type="submit" value="Вход" />

        <div class="form-footer">
            У вас еще нет аккаунта? <a href="{{ url_for('register') }}">Регистрация</a>
        </div>
    </form>

    
    {% if msg %}
        <div class="block-{{ msg_type }}">
            <div class="msg">
                {{ msg }}
            </div>
            <button class="close-btn">&times;</button>
        </div>
    {% endif %}
</div>
</body>
</html>