<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/auth/removeInputErrors.js') }}" defer></script>
    <title>Регистрация - MathHelper</title>
</head>
<body>
    <div class="content">
        <div class="logo">
            <a href="{{ url_for('index') }}">MathHelper</a>
        </div>
        <form action="/register" method="post" class="">
            <div class="form-title">
                Регистрация аккаунта
            </div>

            <div class="input-block">
                <label for="name">Логин</label>
                <input type="text" id="name" name="name"
                    value="{{ name }}" 
                    class="{% if errors and errors.get('name') %}error-input{% endif %}">
                {% if errors.get('name') %}
                    <div class="error-msg">{{ errors['name'] }}</div>
                {% endif %}
            </div>

            <div class="input-block">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email"
                    value="{{ email }}" 
                    class="{% if errors and errors.get('email') %}error-input{% endif %}">
                {% if errors.get('email') %}
                    <div class="error-msg">{{ errors['email'] }}</div>
                {% endif %}
            </div>

            <div class="input-block">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password"
                    class="{% if errors and errors.get('password') %}error-input{% endif %}">
                {% if errors.get('password') %}
                    <div class="error-msg">{{ errors['password'] }}</div>
                {% endif %}
            </div>

            <div class="input-block">
                <label for="password_rep">Повтор пароля</label>
                <input type="password" id="password_rep" name="password_rep"
                    class="{% if errors and errors.get('password_rep') %}error-input{% endif %}">
                {% if errors.get('password_rep') %}
                    <div class="error-msg">{{ errors['password_rep'] }}</div>
                {% endif %}
            </div>

            <input id="submit-btn" type="submit" value="Регистрация" />

            <div class="form-footer">
                У вас уже есть аккаунт? <a href="{{ url_for('login') }}">Войти</a>
            </div>
        </form>
    </div>

</body>
</html>
