<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <title>Регистрация - MathHelper</title>
</head>
<body>
    <div class="content">
        <div class="logo">
            MathHelper
        </div>
        <form action="/register" method="post" class="">
            <div class="form-title">
                Регистрация аккакунта
            </div>
            <div class="input-block">
                <label for="name">Логин</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input-block">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-block">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-block">
                <label for="password_rep">Повтор пароля</label>
                <input type="password" id="password_rep" name="password_rep" required>
            </div>
            <input id="submit-btn" type="submit" value="Регистрация" />

            <div class="form-footer">
                У вас уже есть аккаунт? <a href="{{ url_for('login') }}">Войти</a>
            </div>
        </form>
    </div>
</body>
</html>