{% extends './base.html' %}
{% block title %}
MathHelper - {{ current_theme.name }}
{% endblock %}

{% block myhead %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/rend.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/rend/rend.js') }}"></script>
{% endblock %}
{% block body %}
<div class="content">
    <input type="hidden" id="template-value" value="{{ current_template.template }}">
    <input type="hidden" id="template-id" value="{{ current_template.id }}">
    <input type="hidden" id="theme-id" value="{{ current_theme.id }}">

    <div class="rend_block">
        <div class="rend">
            <div class="title">
                <h2>{{ current_theme.name }}</h2><br>
            </div>
            <div class="task-block">
                <div class="task">
                    <h3>Задание:</h3>
                    {{ task.task_text }}
                    <div id="output"></div>
                </div>
                <div class="answer">
                    <div class="answer-btns">
                        <button id="btnShowGraph">Показать график</button>
                        <button id="btnShowAnsw">Показать ответ</button>
                    </div>
                    <div id="answer"></div>
                    {% if current_user.get_id() %}
                        <br>
                        <button id="btnSave">Сохранить задачу</button>
                    {% else %}
                        <input type="hidden" id="btnSave" value="">
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="canvas">
            <canvas id="canvas">
                Ваш браузер не поддерживает Canvas
            </canvas>
        </div>
    </div>
</div>
{% endblock %}